*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 1000px;
    width:970px;
    background-color:#224f77;
}
.header{
    height: 100px;
    width: 970px;
}
.header img{
    height: 100px;
     
}
.header-search{
    height:100px;
    width: 300px;
   
    display: inline-block;
    margin-left: 305px;
    vertical-align: top;
}

.text-size {
    height:25px;
    width: 300px;
   
}
.text-size p{
    margin-left: 75px;
    color: white;
}
.text-size a{
    color: #ad9d00;

}
.search-box{
    height:75px;
    width: 300px;
    background-color:#444444;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}
.search-box input{
    height: 40px;
    width: 175px;
    margin-top: 14px;
    margin-left: 45px;
}
.search-box button{
    height: 38px;
    width: 45px;
    margin-top: 17px;
    margin-left: 2px;
    background-color: rgb(4, 4, 49);
    color: white;
    border-radius: 10px;
    vertical-align: top;
}
.navbar{
    height: 50px;
    width: 900px;
    background-color:#3877ad;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}
.navbar a{
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: 100px;
    line-height: 50px;
    margin: 00px 30px;
    
}
.main-content{
    height: 300px;
    width: 970px;
    background-color:grey;
}
.main-guide{
    height: 300px;
    width: 200px;
    background-color:red;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
}
.main-content-text{
    height: 300px;
    width: 730px;
    background-color:purple;
    display: inline-block;
    margin-left: 200;
}
.main-guide ul{
    list-style-type: none;
    margin-top: 30px;
}
.main-guide a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}